.infoCardContainer {
  background-color: white !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.infoCardTextContainer{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #484848;
}
.infoCardImageContainer{
   width: 50%!important; 
   padding: 2rem;
}
@media (max-width: 768px){
  .infoCardContainer{
    flex-direction: column;
    gap: 0px;
  }
  .infoCardImageContainer{
   width: 100%!important; 
   padding: 0rem;
  }
  :global(.vtex-rich-text-0-x-wrapper--dropdown-text){
  margin-right:150px
}
:global(.vtex-rich-text-0-x-container--dropdown-text){
 width:90vw
}
}
:global(.vtex-flex-layout-0-x-flexRowContent--dropdown-banner){
  margin-bottom:3rem
}
:global(.vtex-rich-text-0-x-paragraph--message-dropdown){
  max-width: 500px;
}
:global(.vtex-rich-text-0-x-wrapper--dropdown-text){
  margin-right:calc(100vw - 80vw)
}
:global(.vtex-rich-text-0-x-container--dropdown-text){
  border-bottom:2px solid #FB6834;
  font-weight: 200px!important;
}
:global(.vtex-flex-layout-0-x-flexRow--dropdown-banner){
  background-image: url("/arquivos/unsplash_fYO1T495QCM.png");
  max-width:1528px;
  margin:auto;
  padding:5rem 0
}
:global(.vtex-disclosure-layout-1-x-trigger--question),
:global(.vtex-disclosure-layout-1-x-trigger--hidden){
  color: #FB6834
}
